.pixsass-icon-box-wrapper.style-five{
    min-height: 560px;
}

.-services-title{
    color: #e13134;
    font-size: 16px;
}

/* .btn-suport{
    background-color: #e13134!important;
    color: #ffffff!important;
} */

.why{
    .pixsass-icon-box-wrapper.style-four{
        background-color: #ffffff;
    }
    /* .bg-angle-2 {
        background-image: -o-linear-gradient(150deg, #7052fb 0%, #8a60fd 100%);
        background-image: linear-gradient(-60deg, #7052fb 0%, #8a60fd 100%);
      } */
}

.bg-angle-2 {
    background-image: -o-linear-gradient(40deg, #234b97 0%, #153263 100%);
    background-image: linear-gradient(60deg, #234b97 0%, #153263 100%);
    max-height: 400px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
  
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-top: 200px solid transparent;
      border-left: 1900px solid #fff;
      border-bottom: 0px solid transparent;
    }
  }

  .plus{
      .-boxe{
        min-height: 410px;
      }
  }

  .tab{
    #pix-tabs-nav {
        text-align: center;
        list-style: none;
        margin-bottom: 38px;
        padding: 0;
      
        li {
          display: inline-block;
      
          &:not(:last-child) {
            margin-right: 20px;
          }
      
          a {
            color: #153263;
            font-weight: 500;
            cursor: pointer;
            padding: 11px 27px;
            border-radius: 30px;
            display: inline-block;
            margin-bottom: 20px;
      
            &:hover {
              background: #153263;
              color: #fff;
              -webkit-box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.3);
            }
          }
      
          &.active a {
            background: #fff;
            color: #e13134;
            -webkit-box-shadow: 0px 20px 30px 0px rgba(176, 70, 70, 0.3);
            box-shadow: 0px 20px 30px 0px rgba(176, 70, 70, 0.3);
          }
        }
      
        &.pix-tab-two li {
          a:hover, &.active a {
            color: #7052fb;
            -webkit-box-shadow: 0px 20px 30px 0px rgba(90, 70, 176, 0.3);
            box-shadow: 0px 20px 30px 0px rgba(90, 70, 176, 0.3);
          }
        }
      }
      
      #pix-tabs-content .content {
        text-align: center;
        position: relative;
      
        img {
          background-color: #e1d5d5;
          -webkit-box-shadow: none;
          box-shadow: none;
          border-radius: 10px;
          border: 1px solid rgba(0, 0, 0, 0.001);
        }
      
        /* .shape-shadow {
            border-radius: 10px;
            background-color: white;
            opacity: 0.4;
            -webkit-box-shadow: 0px 60px 100px 0px rgba(79, 35, 35, 0.2);
            box-shadow: 0px 60px 100px 0px rgba(79, 35, 35, 0.2);
            height: 100px;
            max-width: 73%;
            position: absolute;
            bottom: -40px;
            width: 100%;
            z-index: -1;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        } */
      
        &.color-two {
          img, .shape-shadow {
            -webkit-box-shadow: 0px 60px 100px 0px rgba(43, 35, 79, 0.2);
            box-shadow: 0px 60px 100px 0px rgba(43, 35, 79, 0.2);
          }
        }
      }

      .swiper-button-next{
          background-color: #153263;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          text-align: center;
          i{
            line-height: 40px;
              color: #ffffff;
          }
      }

      .swiper-button-prev{
        background-color: #153263;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        i{
          line-height: 40px;
            color: #ffffff;
        }
    }
  }